{% extends "blog/base.html" %}
{% block content %}
    {% for item in categories %}
        <article class="media content-section">

              <a class="mr-3"> {{ item.title }} </a>

                <img class="rounded-circle account-img" src="../../media/{{ item.image }}">
              <small class="text-muted"> {{ item.content }} </small>
            <br>
            <a class="text-muted"> {{ item.price }}</a>
            <td>
                        {% if user.is_authenticated %}
                        <a href="{% url 'rent_item' item.id %}">Rent</a>
                        {% endif %}
            </td>

        </article>
    {% endfor %}
{% endblock content %}