{% extends 'blog/base.html' %}

{% block title %}RENTING Page {% endblock %}

{% block content %}
    <h1>RENTING Page</h1>
    <section>
        <h2>About the Application</h2>
        <p>This Renting System is designed to help people to rent their Item efficiently.  Our goal is to streamline the process of renting your own stuff, making it easier for everyone involved.</p>

        <h2>Purpose</h2>
        <p>The primary purpose of this application is to provide a centralized platform where ......</p>

        <h2>Developers</h2>
        <p>This application was developed by a dedicated team of developers who are passionate about making a difference in the community. Our team consists of:</p>
        <ul>
            <li><strong>Michal Navrátil</strong> - Lead Developer</li>
        </ul>
        <p>We hope this application serves as a valuable tool everyone who wants to rent anything and more connected community.</p>
    </section>
{% endblock %}