{% extends 'blog/base.html' %}

{% block title %}Item List{% endblock %}

{% block content %}
    <h2>Item List</h2>
    <form method="get">
        <label for="user_id">Filter by user:</label>
        <select name="user_id" id="user_id">
            <option value="">All</option>
            {% for user in user_list %}
                <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
        </select>
        <label for="slots_sort">Sort by available slots:</label>
        <select name="slots_sort" id="slots_sort">
            <option value="">None</option>
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>
    </form>
    <table>
        <thead>
            <tr>
                <th>Owner</th>
                <th>Title</th>
                <th>Price</th>
                <th>Category</th>
                <th>Image</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.author }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.category.title }}</td>
                    <td>
                        <img class="rounded-circle account-img" src="{{ item.image.url }}">
                    </td>
                    <td>{{ item.content }}</td>
                    <td>
                        {% if user.is_authenticated %}
                        <a href="{% url 'add_item' %}">Add</a> -
                        <a href="{% url 'edit_item' item.id %}">Edit</a> -
                        <a href="{% url 'remove_item' item.id %}">Remove</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button onclick="window.location.href='{% url 'blog-home' %}'">Back</button>
{% endblock %}